@import '../../styles/global/mixins';
@import '../../styles/global/variables';

.tiles {
    grid-column: container-start / col-end 12;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tile {
    width:35rem;
    padding: 3rem;

}

.project__display__poster{
    overflow: hidden;
    // height: 20rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}