@import '../../styles/global/mixins';
@import '../../styles/global/variables';

.tiles {
    grid-column: container-start / col-end 12;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.tile {
    width:35rem;
    padding: 3rem;

}

