@import '../../styles/global/variables';


@keyframes Slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 600px) {
    #technologies {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
}

.technologies-bar {
    grid-column: flush-start / flush-end;
    height: 100%;    
    box-shadow: 0 1rem 3rem rgba(black, .1);
    padding: 2rem;
    justify-items: center;
    
    .container{
        display: flex;
        overflow-x: hidden;
        justify-content: center;

    }

    &__image{
        display: block;
        height: 3.5rem;
        width: auto;

        &:not(:last-child){
            margin-right: 6rem;
        }
    }
}

